<section class="row sfh align-items-center justify-content-center">
  <section class="col-10">
    <form id="frmSearch" novalidate class="row search-form" [formGroup]="frmSearch" (ngSubmit)="search()">
      <div class="search-result-card__entity-picture entity-picture entity-picture--is-hexagon entity-picture--has-shadow">
        <div class="hexagon-border hexagon-border--no-margins"></div>
        <div class="entity-picture__thumbnail entity-picture__thumbnail--text entity-picture__thumbnail--no-margins">
          <span>T</span>
        </div>
      </div>
      <article class="col-12">
        <div class="form-control form-control-rounded form-control-lg border border-light bg-transparent p-0">
          <i class="mdi mdi-search-web main-search-icon text-white-50"></i>
          <input type="search" class="bg-transparent text-white-50 form-control-rounded" placeholder="Search Role / Skill" formControlName="criteria">
        </div>
      </article>
      <article class="col-12 text-center mt-2">
        <p class="text-primary text-capitalize">Search The Best Candidates Based On His Skills Proficiency</p>
      </article>
      <!-- <article class="col-12 mt-3 text-center">
        <button form="frmSearch" type="submit" class="btn btn-primary">Torre User Search</button>
      </article> -->
    </form>
  </section>
</section>
