@import '../../../../theme/variables.scss';

.main-search-icon {
  font-size: 2rem;
  left: 1.5rem;
  position: absolute;
  top: 0.1rem;
}
input[type="search"] {
  border: none;
  height: calc(1.5em + 1rem + 2px);
  padding-left: 3rem;
  padding-right: 1rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}
