<div *ngIf="contentLoaded; then profileBlock else loadingBlock">
</div>

<ng-template #profileBlock>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <app-profile-intro [profile]="profile"></app-profile-intro>
    </div>
    <div class="col-md-4">
      <app-profile-resume [profile]="profile"></app-profile-resume>
    </div>
    <div class="col-md-4">
      <app-profile-skill-proficiency [profile]="profile"></app-profile-skill-proficiency>
    </div>
  </div>
</ng-template>

<ng-template #loadingBlock>
  <div class="row justify-content-center align-items-center sfh-80">
    <div class="col-8">
      <div class="card bg-dark shadow mb-3 card-intro">
        <div class="card-body" [innerHTML]="loadingMessage">
        </div>
      </div>
    </div>
  </div>
</ng-template>
