<h2 class="text-white-75 my-4">Resume</h2>
<div class="card bg-dark shadow mb-3">
  <div class="card-body">
    <div class="w-100" *ngIf="profile?.jobs?.length > 0">
      <h4 class="text-secondary mb-4">Jobs:</h4>
      <div class="mt-0 mb-4 mr-2 clearfix" *ngFor="let job of profile?.jobs">
        <app-profile-avatar class="float-left mr-2" [profile]="job.organizations[0] || job"></app-profile-avatar>
        <p class="text-primary text-capitalize text-truncate mb-0">
          {{ job.name }}
        </p>
        <p class="text-white-50 text-capitalize text-truncate mb-0" *ngIf="job.organizations.length > 0">
          {{ job.organizations[0].name }}
        </p>
        <small class="text-white-50 text-capitalize" *ngIf="job.fromMonth">
          {{ job.fromMonth.substr(0, 3) }} {{ job.fromYear }} -
        </small>
        <small class="text-white-50 text-capitalize" *ngIf="job.toMonth">{{ job.toMonth.substr(0, 3) }} {{ job.toYear }}</small>
        <small class="text-white text-capitalize" *ngIf="job.fromMonth && !job.toMonth">Current</small>
      </div>
    </div>
    <div class="w-100" *ngIf="profile?.education?.length > 0">
      <hr>
      <h4 class="text-secondary mb-4">Education:</h4>
      <div class="mt-0 mb-4 mr-2" *ngFor="let edu of profile?.education">
        <app-profile-avatar class="float-left mr-2" [profile]="edu.organizations[0] || edu"></app-profile-avatar>
        <p class="text-primary text-capitalize text-truncate mb-0">
          {{ edu.name }}
        </p>
        <p class="text-white-50 text-capitalize text-truncate mb-0" *ngIf="edu.organizations.length > 0">
          {{ edu.organizations[0].name }}
        </p>
        <small class="text-white-50 text-capitalize" *ngIf="edu.fromMonth">
          {{ edu.fromMonth.substr(0, 3) }} {{ edu.fromYear }} -
        </small>
        <small class="text-white-50 text-capitalize" *ngIf="edu.toMonth">{{ edu.toMonth.substr(0, 3) }} {{ edu.toYear }}</small>
        <small class="text-white text-capitalize" *ngIf="edu.fromMonth && !edu.toMonth">Current</small>
      </div>
    </div>

  </div>
</div>
