<div class="card bg-dark shadow mb-3 card-intro">
  <div class="card-body">
    <app-profile-avatar [profile]="profile?.person"></app-profile-avatar>
    <h4 class="text-secondary mt-4 mb-0">
      {{ profile?.person?.name }}
      <span *ngIf="profile?.person?.verified" class="text-primary mdi mdi-star-circle"></span>
    </h4>
    <p class="text-white-50 mb-0">{{ profile?.person?.professionalHeadline }}</p>
    <p class="text-white-50 mb-0">
      <i class="mdi mdi-map-marker text-primary"></i>{{ profile?.person?.location.name }}
    </p>
    <div class="w-100" *ngIf="profile?.person?.links?.length > 0">
      <ul class="list-unstyled p-0 clearfix">
        <li class="mt-3 mr-2 float-left" *ngFor="let link of profile?.person?.links">
          <a [href]="link.address" target="_BLANK" class="btn btn-primary btn-sm btn-rounded">
            <i class="mdi" [ngClass]="'mdi-' + link.name + ' mdi-' + link.name + '-box'"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="w-100" *ngIf="interests?.length > 0">
      <hr>
      <h4 class="text-secondary mb-4">Interests:</h4>
      <ul class="list-unstyled p-0 clearfix">
        <li class="mt-0 mb-2 mr-2 float-left" *ngFor="let interest of interests">
          <p class="btn btn-outline-light text-white btn-sm btn-rounded text-capitalize mb-0">
            {{ interest.name }}
          </p>
        </li>
      </ul>
    </div>
    <div class="w-100" *ngIf="industries?.data?.length > 0">
      <hr>
      <h4 class="text-secondary mb-4">Industries:</h4>
      <ul class="list-unstyled p-0 clearfix">
        <li class="mt-0 mb-2 mr-2 float-left" *ngFor="let industry of industries?.data">
          <p class="btn btn-outline-light text-white btn-sm btn-rounded text-capitalize mb-0">
            {{ industry.name }}
          </p>
        </li>
      </ul>
    </div>
    <div class="w-100" *ngIf="languages?.length > 0">
      <hr>
      <h4 class="text-secondary mb-4">Languages:</h4>
      <ul class="list-unstyled p-0 clearfix">
        <li class="mt-0 mb-2 mr-2 float-left" *ngFor="let lang of languages">
          <p class="btn btn-outline-light text-white btn-sm btn-rounded text-capitalize mb-0">
            {{ lang.language }} - {{ lang.fluency.split('-').join(' ') }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
