@import '../../../../theme/variables.scss';

app-profile-avatar {
  --size: 144px;
  left: 50%;
  position: absolute;
  top: -72px;
  transform: translateX(-50%);
}

hr {
  border-color: rgba(255, 255, 255, 0.3);
}

.card-intro {
  margin-top: 5.3rem;
  padding-top: 2.2rem;
}
