<section class="row justify-content-center">
  <div class="col-md-8">
    <section class="row">
      <section class="col-12" *ngFor="let profile of results">
        <app-profile-card [profile]="profile"></app-profile-card>
      </section>
    </section>
    <section class="row">
      <section class="col-12">
        <app-paginator></app-paginator>
      </section>
    </section>
  </div>
</section>
