<div class="card bg-dark shadow mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <app-profile-avatar [profile]="profile"></app-profile-avatar>
      </div>
      <div class="col-10">
        <h6 class="card-title text-primary mb-0">
          {{ profile?.name }}
        </h6>
        <p class="card-text text-white-50 mb-0 font-weight-light">
          {{ profile?.professionalHeadline }}
        </p>
        <small class="card-text text-white-50 mb-0 font-weight-light">
          {{ profile?.locationName }}
        </small>
      </div>
    </div>
    <div class="row pr-4 justify-content-end">
      <div class="col-3">
        <button [routerLink]="['/profile', profile?.username]" type="button" class="md-button bg-primary md-theme-dark md-raised tdl-signal-button__signal-button md-primary tdl-signal-button__signal-button--simple">
          <i aria-hidden="true" class="md-icon md-theme-dark mdi mdi-eye"></i>
          View profile
        </button>
      </div>
    </div>
  </div>
</div>
