<h2 class="text-white-75 my-4">Skill Proeficiency</h2>
<div class="card bg-dark shadow mb-3">
  <div class="card-body">
    <div class="w-100" *ngIf="profile?.strengths?.length > 0">
      <h4 class="text-secondary mb-4">Strengths:</h4>
      <ul class="list-unstyled p-0 clearfix">
        <li class="mt-0 mb-2 mr-2 float-left" *ngFor="let strength of profile?.strengths">
          <a
            [routerLink]="strength.certificationScore > 0 ? ['/profile', profile?.person.publicId, 'certification', strength.name.toLowerCase()] : []"
            class="btn btn-outline-light text-white btn-sm btn-rounded text-capitalize text-decoration-none mb-0"
          >
            <img
              *ngIf="strength?.certifications?.length > 0"
              class="img-fluid"
              [ngClass]="{'without-certification': !strength.certificationScore}"
              [src]="strength?.certifications[0].certImage"
              [alt]="strength?.certifications[0].certName"
            >
            {{ strength.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
