@import '../../theme/variables.scss';

.navbar {
  --size: 32px;
  --font-size: 1rem;

  .navbar-brand {
    text-decoration: none;
  }

  .entity-picture--is-hexagon {
    margin-bottom: 0.3rem;

    .hexagon-border {
      background-color: $primary;
    }
  }
}
