<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/main']">
    <div class="search-result-card__entity-picture entity-picture entity-picture--is-hexagon entity-picture--has-shadow">
      <div class="hexagon-border hexagon-border--no-margins"></div>
      <div class="entity-picture__thumbnail entity-picture__thumbnail--text entity-picture__thumbnail--no-margins">
        <span>T</span>
      </div>
    </div>
  </a>
</nav>
<main class="container pt-4">
  <router-outlet></router-outlet>
</main>
