<div class="search-result-card__entity-picture entity-picture entity-picture--is-hexagon entity-picture--has-shadow">
  <div class="hexagon-border hexagon-border--no-margins"></div>
  <img *ngIf="useAvatar" [src]="avatar" [alt]="profile?.name" class="entity-picture__thumbnail entity-picture__thumbnail--image entity-picture__thumbnail--no-margins">
  <div *ngIf="!useAvatar" class="entity-picture__thumbnail entity-picture__thumbnail--text entity-picture__thumbnail--no-margins">
    <span>{{ letter }}</span>
  </div>
</div>
