/* You can add global styles to this file, and also import other style files */
@import './theme/variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import './theme/utils.scss';

:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};

  --size: #{$avatar-size};
  --border-width: #{$avatar-border};
  --font-size: #{$avatar-font-size};
  --box-shadow: #{$avatar-box-shadow};
}

body {
  background-color: #010101;
  font-family: "Muli","Helvetica","Arial", sans-serif;
}

.text-white-75 {
  color: rgba($color: $white, $alpha: 0.75);
}

.md-theme-dark {
  .entity-picture--is-hexagon {
    .hexagon-border {
      background-color: #5E626B;
    }
  }

  .search-form {
    --border-width: 8px;
    --font-size: 148px;
    --size: 196px;

    .entity-picture--is-hexagon {
      margin: -96px auto 48px;

      .hexagon-border {
        background-color: $primary;
      }
    }
  }

  .entity-picture__thumbnail {
    background-color: #383B40;
    border-color: #5E626B;
  }

  .entity-picture__thumbnail--text {
    span {
      color: rgba(255, 255, 255, 0.90);
    }
  }
}

.btn-rounded {
  border-radius: 19px;
}

.form-control-rounded {
  border-radius: 22px;
}
