@import '../../../../theme/variables.scss';

.option {
  border: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
  border-radius: 4px;
  cursor: pointer;

  span {
    border: inherit;
    border-radius: inherit;
  }

  &:hover {
    border-color: $primary;

    span {
      border-color: inherit;
    }
  }

  &.success {
    border-color: $success !important;
    .show-bg {
      background-color: $success;
    }
  }
  &.danger {
    border-color: $danger !important;
    .show-bg {
      background-color: $danger;
    }
  }
}
