<section class="row justify-content-center">
  <div class="col-md-8">
    <div *ngIf="loaded;then test; else loading"></div>
  </div>
</section>

<ng-template #test>
  <h1 class="text-primary text-center text-capitalize mb-4">
    <img class="img-fluid" [src]="certification?.certImage" [alt]="certification?.certName">
    Certification {{ certification?.certName }}
  </h1>
  <div *ngIf="questionList.length>0;then response; else finished"></div>
</ng-template>

<ng-template #response>
  <div class="card bg-dark shadow mb-4">
    <div class="card-body">
      <h4 class="text-secondary text-center mb-4">{{ question?.queLabel }}</h4>
      <ul class="list-unstyled">
        <li *ngFor="let opt of question?.queOptions?.options; let i = index">
          <p class="option text-white-75 px-2 py-3" [ngClass]="{
            'success': showResponse && question.queOptions.response==i,
            'danger': showResponse && question.queOptions.response!=i
          }" (click)="response(i)">
            <span [ngClass]="{'show-bg': indexSelected==i}" class="mr-2 p-2"> {{ i + 1 }}</span>{{ opt }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #finished>
  <div class="card bg-dark shadow mb-4">
    <div class="card-body">
      <h1 class="text-secondary text-center">
        Test finished!!!<br>Your score is {{ 100 * score / certification.certQuestionList.length | number:'1.2-2' }} %<br>Thanks for participating
      </h1>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <h1>&nbsp;</h1>
  <div class="card bg-dark shadow mb-4">
    <div class="card-body">
      <h1 class="text-white-50 text-center">
        Loading...
      </h1>
    </div>
  </div>
</ng-template>
